doctype html
html
	head
		title LogIn Panel
		link(rel="stylesheet", type="text/css", href="/static/style.css")
	body
		h1.welcome-text Welcome to login panel
		div.container
			a.welcome-btn(href="/auth/google") Click here!